@charset "utf-8";

main {
	width: 320px;
	margin: 32px auto 0;
}
h1{
	padding-bottom: 8px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
h2 {
	font-size: 16px;
}
li {
	cursor: pointer;
}
section {
	margin: 20px auto;
	padding: 20px;
	background-color: #efefef;
	border-radius: 8px;
}
.answer-correct,
.answer-wrong {
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
}
.answer-correct {
	margin-right: 20px;
	color: green;
}
.answer-wrong {
	margin-right: 20px;
	color: red;
}
.result {
	text-align: center;
	font-size: 28px;
}